aiosqlite
amqp
annotated-types
anyio
asgiref
asttokens
attrs
autobahn
Automat
bcrypt
billiard
cachetools
cbor2
celery
certifi
cffi
cftime
channels
channels_redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
comm
constantly
contourpy
cryptography
cycler
daphne
debugpy
decorator
distro
Django
django-cors-headers
django-debug-toolbar
django-filter
django-simple-history
django-threadlocals
djangorestframework
djangorestframework-simplejwt
djangorestframework-yaml
dnspython
drf-spectacular
drf-yasg
drf_spectacular_extensions
ecdsa
email-validator
executing
fastapi
filelock
fonttools
fsspec
greenlet
grpcio
grpcio-status
h11
hda
httpcore
httplib2
httptools
httpx>=0.28.1
huggingface_hub
hyperlink
idna
Incremental
inflection
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kagglehub
keyboard
kiwisolver
kombu
MarkupSafe
matplotlib
matplotlib-inline
mpmath
msgpack
nest-asyncio
netCDF4
networkx
nltk
numpy
packaging
pandas
parso
passlib
Pillow
platformdirs
polib
prompt_toolkit
proto-plus
protobuf
psutil
psycopg2-binary
pure_eval
py-ubjson
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pyOpenSSL
pyparsing
python-dateutil
python-decouple
python-dotenv
python-jose
python-multipart
pytz
pywin32
PyYAML
pyzmq
redis
referencing
regex
reportlab
requests
rpds-py
rsa
safetensors
scikit-learn
scipy
service-identity
six
sniffio
SQLAlchemy
sqlparse
stack-data
starlette
stripe
sympy
tenacity
threadpoolctl
tornado
tqdm
traitlets
Twisted
txaio
typing-inspection
typing_extensions
tzdata
tzlocal
ujson
uritemplate
urllib3
uvicorn
vine
watchfiles
wcwidth
websockets
xarray
zope.interface
fastapi-poe
